@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

body {
  margin: 0;
  padding: 0;
}

div,
p,
span,
h1,
td,
th {
  font-family: Roboto, sans-serif;
}

td,
th {
  font-size: 1.4em;
}

.popuptable {
  background-color: #7986cb;
}
.kartta-popup .mapboxgl-popup-content {
  background-color: #7986cb;
  border: 1px solid black;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: black;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: black;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: black;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: black;
}

@media (prefers-color-scheme: dark) {
  .popuptable {
    background-color: #303f9f;
  }
  .kartta-popup .mapboxgl-popup-content {
    background-color: #303f9f;
    border: 1px solid white;
  }
  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: white;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: white;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: white;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: white;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}
