@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
td,
th {
  font-family: "Roboto", sans-serif;
}

td,
th {
  font-size: 1.4em;
}

@media (prefers-color-scheme: dark) {
  .popuptable {
    color: white;
    background-color: black;
  }
  .kartta-popup .mapboxgl-popup-content {
    background-color: black;
  }
  .kartta-popup .mapboxgl-popup-tip {
    border-top-color: black;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.marker-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 200px;
}

.marker-text {
  font-size: 2em;
  width: 60px;
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  .marker-text {
    color: white;
    font-size: 28px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
  }
}

.marker {
  height: 50px;
  width: 50px;
}
